<% include ./partials/header %>
<% rows.forEach(function(RowData){ %>
    <span> <b>User: </b><a href="#" class="accountText" id=<%= RowData.username %>><%= RowData.username %></a> </span><br>
<%})%>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../stylesheets/accounts.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>Accouts</title>
  </head>

  <body>


    <script src="../js/accounts.js"></script>
  </body>
</html>

<% include ./partials/footer %>
