<% include ./partials/header %>
<form action="/edit-flashcards">
   <button type="submit">Edit flashcards</button>

<% rows.forEach(function(RowData){ %>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h1><b><%=RowData.term%></b><h1>
        </div>
        <div class="flip-card-back">
          <h1><%=RowData.definitions%></h1>
        </div>
      </div>
    </div>
<%})%>
<% include ./partials/footer %>
