<% include ./partials/header %>
<% rows.forEach(function(RowData){ %>
    <h3>FLASHCARD DATA</h3>
    <span> <b>cardID</b> is: <%= RowData.cardID %> </span><br>
    <span> <b>term</b> is:<%=RowData.term%></span><br>
    <span> <b>definitions</b> is:<%=RowData.definitions%></span><br>
<%})%>

<% include ./partials/footer %>
