<% include ./partials/header %>
<% rows.forEach(function(RowData){ %>
    <h3>FOLDER DATA</h3>
    <span> <b>title</b> is: <%= RowData.title %> </span><br>
    <span> <b>folderID</b> is:<%=RowData.folderID%></span><br>
<%})%>

<% include ./partials/footer %>
