<% include ./partials/header %>
<% rows.forEach(function(RowData){ %>
  <h4> ID is <%= RowData.id %> </h4>
  <h4> Name is:<%=RowData.name%></h4>
  <h4> Age is:<%=RowData.age%></h4>

<%})%>

<% include ./partials/footer %>
