<% include ./partials/header %>
<% rows.forEach(function(RowData){ %>
    <h3>USER DATA</h3>
    <span> <b>ID</b> is: <%= RowData.id %> </span><br>
    <span> <b>Name</b> is:<%=RowData.name%></span><br>
    <span> <b>Age</b> is:<%=RowData.age%></span><br>
<%})%>

<% include ./partials/footer %>
